[package]
name = "daily-ai"
version = "0.1.0"
edition = "2024"

[dependencies]
sea-orm = { version = "2.0.0-rc", features = [
  "sqlx-sqlite",
  "runtime-tokio-rustls",
  "macros",
] }
chrono = { version = "0.4.42", features = ["now", "std", "alloc", "clock"] }
clap = { version = "4.5.53", features = ["derive"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
thiserror = "2.0.17"
tokio = { version = "1.48.0", features = [
  "macros",
  "net",
  "process",
  "rt-multi-thread",
  "io-util",
] }
log = "0.4.28"
git2 = "0.20.2"
fern = { version = "0.7.1", features = ["colored", "chrono"] }
log_err = "1.1.1"
async-openai = "0.31.0-alpha.11"
schemars = "1.1.0"
